#profile {
  padding: 0.5rem 1rem 1rem;
}
h1#name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
.chips {
  display: flex;
  flex-wrap: wrap;
}
.chip,
.link-chip {
  padding: 0 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 0.75rem;
  margin: 0 0.4rem 0.4rem 0;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.icon-chip {
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
}
.chip-icon {
  flex: 1 1 auto;
  margin-right: 0.25rem;
  font-size: 20px;
}
.chip-text {
  flex: 1 1 auto;
}
.chip-span {
  flex: 1 1 auto;
  height: 1.5rem;
  line-height: calc(1.5rem - 1px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#links {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1.5rem 0;
  margin: 0 1rem;
}
.link-chip {
  border: 1px solid #198bed;
  color: #198bed;
  fill: #198bed;
  text-decoration: none;
}
.link-chip:hover {
  background-color: #f1f6fc;
  background-color: rgba(25, 139, 237, 0.05);
}
.icon-link-chip {
  padding-left: 0.5rem;
}
.icon-link-chip .icon {
  width: 1.125rem;
  margin-right: 0.25rem;
}
@media screen and (min-width: 540px) {
  h1#name {
    font-size: 2rem;
  }
}
